asgiref==3.2.7
astroid==2.3.3
colorama==0.4.3
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.5
djangorestframework==3.11.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mysqlclient==1.4.6
pylint==2.4.4
python-decouple==3.3
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
static3==0.7.0
typed-ast==1.4.1
wrapt==1.11.2
Django~=3.0.5
decouple~=0.0.7